@import "variables.scss";
@import "components.scss";
@import "utils.scss";
@import "base.scss";
@import "index.scss";
@import "article.scss";
@import "translation.scss";
@import "experimental.scss";

button {
    box-shadow: none !important;
}

.validation-summary-errors ul {
    list-style: none;
    padding-left: 0;
}

.logo-explanation {
    li {
        padding-top: 15px;
    }

    padding-top: 15px;
}

.calendar {
    height: 100%;
    max-width: 1020px;
    background-color: white;
    position: relative;

    @media (min-width: 576px) {
        padding-left: 10px;
    }

    @media (max-width: 575px) {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    iframe {
        width: 100%;
        transition: opacity ease-in-out 600ms;
    }

    &.loading iframe {
        opacity: 0;
    }

    .spinner {
        opacity: 0;
        position: absolute;
        top: 200px;
        left: 50%;
        right: 50%;
        border: 9px solid #f3f3f3;
        border-top: 9px solid $primary_green;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        animation: spin 1s linear infinite, opacity-in 600ms ease backwards;
    }

    &.loading .spinner {
        animation: spin 1s linear infinite, opacity-in 600ms ease-in-out;
        animation-delay: 300ms;
        animation-fill-mode: forwards;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
