body {
    padding-top: 55px;
    font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 300;
}

    body.user-signed-in {
        padding-top: calc(55px+34px);
    }

/*
    Bootstrap sizes:
    sm: >= 576px
    md: >= 768px
    lg: >= 992px
    lg: >= 1200px
*/

.z-minus-1 {
    z-index: -1;
}

.shadow-bottom {
    box-shadow: rgba(0, 0, 0, 0.4) 0 5px 10px;
}

.shadow {
    /*box-shadow: black 0 0 10px -1px;*/
    box-shadow: rgba(0,0,0,0.4) 0 0 10px -1px;
}

.text-lightgrey {
    color: lightgray !important;
}

.text-darkgrey {
    color: darkgrey !important;
}

.text-dark {
    color: rgba(0,0,0,0.75) !important;
}


@media (max-width: 991px) {
    .hidden.visible-lg {
        display: none;
    }
}

@media (max-width: 1199px) {
    .hidden.visible-xl {
        display: none;
    }
}

@media (min-width: 768px) {
    .hidden-md {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hidden-xl {
        display: none;
    }
}

h1 {
    margin-top: 25px;
}

h2 {
    font-size: 2.45rem;
}

.btn-circle {
    font-size: 30px;
    transition: font-size .15s ease-in-out, padding .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out;
    width: 60px;
    height: 60px;
    padding-top: 5px;
    border-radius: 35px;
    color: rgba(255,255,255, 0.8);
    position: absolute;
    bottom: 10px;
    outline: 0;
}

    .btn-circle:hover {
        color: #fff;
        background: rgba(255,255,255,.1);
        font-size: 33px;
        padding-top: 3px;
    }

.navbar-brand {
    font-family: Ubuntu;
    font-weight: 700;
    font-size: 1.85rem;
    display: flex;
    align-items: center;
}

.navbar-dark .navbar-brand {
    color: rgba(255,255,255, 0.9);
}

/* lg */
@media (min-width: 992px) {
    body {
        padding-top: 89px;
    }

        body.user-signed-in {
            padding-top: calc(89px+34px);
        }

    #mainNavbar {
        height: 90px;
    }

        #mainNavbar .navbar-collapse {
            height: 60px;
            align-items: flex-end;
        }

            #mainNavbar .navbar-collapse .nav-link {
                padding-left: 30px;
                padding-right: 30px;
                box-shadow: transparent 0 -25px 0 0;
                transition: background-color ease-in-out 250ms, box-shadow ease-in-out 250ms, color ease-in-out 250ms;
                font-weight: 400;
            }

                #mainNavbar .navbar-collapse .nav-link:hover, #mainNavbar .navbar-collapse .nav-item.active .nav-link {
                    background-color: #558b46;
                    box-shadow: #558b46 0 -35px 0 0;
                    color: rgba(255,255,255,0.85);
                }
}

footer {
    box-shadow: rgba(0,0,0,0.5) 0 15px 20px -13px inset;
}

    footer .container {
        min-height: 200px;
    }

@media (min-width: 768px) {
    footer .container {
        height: 200px;
    }
}

footer .row {
    height: 100%;
}

footer ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

footer a {
    color: lightgray;
    transition: color .15s ease-in-out;
}

    footer a:hover {
        color: white;
        text-decoration: none;
    }

footer hr {
    width: 40%;
    border-color: grey;
}

.lgio-logo {
    width: 75px;
    float: left;
}

.list-icon {
    /*font-size: 20px;*/
    height: 1em;
    margin-right: 5px;
}



/* Homepage */

#homeJumbotron {
    height: 475px;
    background-image: url("/images/jumbotron.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 56%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    right: 14%;
}

    .logo img {
        height: 250px;
    }

.logo-text {
    font-family: Ubuntu;
    font-weight: 400;
    font-size: 22px;
    color: white;
    transform: matrix(1, 0, 0, 0.83, 0, 0);
    margin-top: 10px;
}

    .logo-text h2 {
        margin-bottom: -13px;
        font-weight: 700;
        font-size: 65px;
    }

    .logo-text div {
        padding-left: 4px;
    }

/* md */
@media (min-width: 768px) {
    .logo {
        position: absolute;
        right: 7%;
    }

    .logo-text {
        color: inherit;
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    #homeJumbotron {
        height: calc(100vh - 89px);
    }

    .logo {
        right: 12%;
    }
}

@media (min-width: 1500px) {
    .logo {
        right: 25%;
    }
}


.section-container {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    height: calc(3260px - 35vw);
    box-shadow: rgba(0,0,0,0.5) 0 -5px 13px -6px;
}

@media (min-width: 1200px) {
    .section-container {
        height: calc(3260px - 12px * 35);
    }
}

.img-aktion {
    position: absolute;
    z-index: -2;
    top: 600px;
    background-image: url("/images/aktion.png");
    width: 100%;
    height: 900px;
    background-position-x: center;
    background-size: cover;
}

.img-ausbildung {
    position: absolute;
    top: calc(2540px - 27vw);
    width: 100%;
    height: 645px;
    background-image: url("/images/ausbildung.png");
    background-position-x: center;
    background-size: cover;
}

@media (min-width: 1200px) {
    .img-ausbildung {
        top: calc(2540px - 12px * 27);
    }
}

.colored-bar-red {
    background-color: rgba(234, 69, 67, 0.9);
    height: 650px;
    transform-origin: top center;
    transform: translateY(550px) skewY(-20deg);
    width: 100%;
    position: absolute;
}

.colored-bar-green {
    background-color: #558b46;
    transform: translateX(35%) translateY(-100vh) rotate(30deg);
    height: 100vh;
    width: 100vw;
    transform-origin: bottom left;
    position: absolute
}

.colored-bar-blue {
    background-color: rgb(75, 136, 195);
    height: calc(560px - 5vw);
    transform-origin: top center;
    transform: translateY(calc(1315px - 10vw)) skewY(11deg);
    width: 100%;
    position: absolute;
}

@media (min-width: 1200px) {
    .colored-bar-blue {
        height: calc(560px - 12px * 5);
        transform: translateY(calc(1315px - 12px * 10)) skewY(11deg);
    }
}

.colored-bar-yellow {
    position: absolute;
    top: calc(2360px - 25vw);
    width: 100%;
    height: calc(900px - 10vw);
    /*box-shadow: rgba(0,0,0,0.3) 0 0 10px -1px;*/
}

@media (min-width: 1200px) {
    .colored-bar-yellow {
        top: calc(2360px - 1200px * 25 / 100);
        height: calc(900px - 12px * 10);
    }
}

.colored-bar-yellow polygon {
    fill: rgba(250, 229, 183, 0.9);
}


.icon {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 35px;
    box-shadow: rgba(0,0,0,0.4) 2px 3px 12px -3px;
}

    .icon img {
        width: 80px;
    }

    .icon.icon-aktion img {
        margin-top: 10px;
    }

    .icon.icon-gemeinschaft img {
        width: 60px;
        margin-top: -7px;
        margin-left: 2px;
    }

    .icon.icon-ausbildung img {
        height: 70px;
    }


.questionmark {
    color: #bcdab2;
    position: absolute;
    font-size: 600px;
    font-family: Helvetica;
    font-weight: bold;
    transform: translateX(37vw) translateY(-130px) rotate(24deg);
    line-height: 1;
    text-shadow: rgba(0,0,0,0.2) 1px 1px 12px;
}


.home-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

@media (min-width: 500px) {
    .home-section {
        font-size: 1.15rem;
    }
}

/* sm */
@media (min-width: 576px) {
    .home-section {
        font-size: 1.2rem;
    }
}

.home-section h1 {
    font-size: 3rem;
}

.home-section p {
    margin-top: 15px;
    max-width: 710px;
}

.home-section.one h1 {
    margin-top: 100px;
}

.home-section.one p {
    margin-top: 40px;
    max-width: 500px;
}

/* sm */
@media (min-width: 576px) {
    .home-section.one h1 {
        margin-right: 25%;
    }

    .home-section.one p {
        margin-top: 60px;
    }
}

/* md */
@media (min-width: 768px) {
    .home-section.one p {
        margin-right: 15%;
    }
}

/* lg */
@media (min-width: 992px) {
    .home-section.one h1 {
        margin-top: 130px;
    }
}

/* xl */
@media (min-width: 1200px) {
    .home-section.one p {
        margin-top: 80px;
    }
}

.home-section.two {
    top: 700px;
}

.home-section.three {
    top: calc(1260px - 10vw);
}

@media (min-width: 1200px) {
    .home-section.three {
        top: calc(1260px - 12px * 10);
    }
}

.home-section.four {
    top: calc(1820px - 15vw);
}

@media (min-width: 1200px) {
    .home-section.four {
        top: calc(1820px - 1200px * 15 / 100);
    }
}

.home-section.five {
    top: calc(2570px - 25vw);
}

@media (min-width: 1200px) {
    .home-section.five {
        top: calc(2570px - 1200px * 25 / 100);
    }
}

.user-signed-in #mainNavbar {
    margin-top: 34px;
}

.admin-navbar.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

    .admin-navbar.navbar-dark .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 0.85);
    }



/* QR code generator */
#qrCode {
    margin: 15px;
}



/* Animations */
@keyframes opacity-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes opacity-in-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
    }
}

.animation .navbar-brand {
    opacity: 0;
    animation: opacity-in 1s ease;
    animation-delay: 300ms;
    animation-fill-mode: forwards;
}

@media (min-width: 992px) {
    .animation #mainNavbar .navbar-collapse .nav-item {
        opacity: 0;
        animation: opacity-in 1s ease;
        animation-fill-mode: forwards;
    }

        .animation #mainNavbar .navbar-collapse .nav-item:nth-child(1) {
            animation-delay: 600ms;
        }

        .animation #mainNavbar .navbar-collapse .nav-item:nth-child(2) {
            animation-delay: 750ms;
        }

        .animation #mainNavbar .navbar-collapse .nav-item:nth-child(3) {
            animation-delay: 900ms;
        }

        .animation #mainNavbar .navbar-collapse .nav-item:nth-child(4) {
            animation-delay: 1050ms;
        }

        .animation #mainNavbar .navbar-collapse .nav-item:nth-child(5) {
            animation-delay: 1200ms;
        }
}

.animation .logo {
    opacity: 0;
    animation: opacity-in-up 1s ease;
    animation-delay: 700ms;
    animation-fill-mode: forwards;
}

.animation .btn-circle.page-scroll {
    opacity: 0;
    animation: opacity-in 1s ease;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}



/* Logo Page */

@media (max-width: 767px) {
    .logo-image {
        text-align: center;
    }

    .logo-explanation ul {
        padding: 0;
    }

    .logo-explanation li {
        list-style-type: none;
        text-align: justify;
    }
}

@media (min-width: 768px) {
    .logo-image {
        padding-left: 15px;
        padding-top: 30px;
        flex-grow: unset;
    }
}

.logo-image img {
    width: 220px;
}

@media (min-width: 992px) {
    .logo-image {
        padding-top: 50px;
    }

        .logo-image img {
            width: 300px;
        }
}

.logo-explanation li {
    padding-top: 15px;
}

.logo-explanation {
    padding-top: 15px;
    padding-bottom: 30px;
}



/* Experiments */

.navbar-logo {
    display: none;
}

.navbar-logo-1 .navbar-logo.one, .navbar-logo-2 .navbar-logo.two {
    display: inline;
    height: 45px;
    padding-right: 10px;
    padding-left: 15px;
}

.navbar-logo-3 .navbar-logo.three {
    display: inline;
    height: 45px;
    padding-right: 15px;
    padding-left: 15px;
}

.no-shadows .questionmark, .no-shadows .shadow {
    box-shadow: none;
    text-shadow: none;
}

.experimental.pin {
    position: fixed;
    bottom: 0;
    background-color: white;
}

.no-questionmark-shadow .questionmark {
    text-shadow: none;
}

.no-navbar-hover-bg #mainNavbar .navbar-collapse .nav-link:hover{
    box-shadow: none;
    background-color: transparent;
}
